
<div class="container">
	<div class="jumbotron" id="tagline">
		<h1>Welcome to Pintrested</h1>
		<p>This is a quick clone of Pintrest</p>
		<%= link_to 'About Us', home_about_path, class: "waves-effect waves-light btn"  %>
		<%= link_to 'Home', root_path, class: "waves-effect waves-light btn"  %>
	</div>
</div>


