.jumbotron{
	background-color: blue;

}
.jumbotron>.btn{
	margin: 20px;
	text-align: center;
	position: relative;
}
body{
	background-color: #fa9fb9;
}
.shared{
	float: right;
}
.shared a{
	margin-bottom: 10px;
}

#form{
	width:50%;
}

@import "materialize";
//= require material_icons

